.assistants {
  width: 100%;
  height: 70px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  padding-top: 0;
}

@media screen and (max-width: 875px) {
  .assistants {
    height: 80px;
  }
}
