.upcomingEvents {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-color: var(--jea-color-secundary) var(--jea-color-primary);
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.upcomingEvents::-webkit-scrollbar {
  width: 8px;
  background-color: var(--jea-color-primary);
}
