.eventShow {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.eventShowDiv {
  width: 70%;
  height: 70%;
  max-width: 875px;
  background-color: var(--jea-color-primary);
  border-radius: var(--jea-radius-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.coverDiv {
  height: 100%;
  width: 50%;
  border-top-left-radius: var(--jea-radius-primary);
  border-bottom-left-radius: var(--jea-radius-primary);
  overflow: hidden;
  position: relative;
}

.coverDiv > img {
  object-fit: cover;
}

.zoomCover {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  padding: var(--jea-padding-xs);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--jea-color-secundary);
}

.zoomCover > i {
  color: var(--jea-color-primary);
}

.infoDiv {
  height: 100%;
  width: 50%;
  padding: var(--jea-padding-m);
  overflow-y: scroll;
}

.infoDiv > * {
  text-align: start;
  padding: var(--jea-padding-xs);
}

.infoDiv > h2 {
  font-size: 35px;
  color: var(--jea-color-secundary);
  font-weight: 700;
}

.infoDiv > h4 {
  font-weight: 600;
  font-size: 24px;
  color: #225b9f;
}

.infoDiv > p {
  font-size: 16px;
  font-weight: 500;
}

.modifyEvent,
.deleteEvent {
  position: absolute;
  cursor: pointer;
  right: -65px;
  top: 100px;
  width: 100px;
  height: 30px;
  rotate: 90deg;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--jea-color-black);
  border-top-left-radius: var(--jea-radius-secundary);
  border-top-right-radius: var(--jea-radius-secundary);
}

.modifyEvent > p,
.deleteEvent > p {
  color: var(--jea-color-white);
  font-weight: 700;
  letter-spacing: 2px;
}

.deleteEvent {
  top: 220px;
  background-color: rgb(255, 0, 0);
}

.deleteEvent > p {
  color: var(--jea-color-black);
}

@media screen and (max-width: 875px) {
  .eventShow {
    top: 3svh;
  }
  .eventShowDiv {
    flex-direction: column;
    width: 80%;
    height: 80%;
  }
  .coverDiv {
    height: 30%;
    width: 100%;
    border-top-left-radius: var(--jea-radius-primary);
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--jea-radius-primary);
  }
  .infoDiv {
    height: 70%;
    width: 100%;
    padding: var(--jea-padding-m);
  }
  .infoDiv > h2 {
    font-size: 25px;
    font-weight: 900;
  }
  .infoDiv > h4 {
    font-size: 22px;
  }
  .infoDiv > p {
    font-size: 16px;
  }
  .modifyEvent {
    right: -65px;
    bottom: 100px;
    top: auto;
  }
  .deleteEvent {
    right: -65px;
    bottom: 220px;
    top: auto;
  }
  .zoomCover {
    display: flex;
  }
}
