.eventFormDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eventFormDiv .fieldForm,
.eventFormDiv form {
  width: 100%;
}

.eventFormDiv input {
  width: 70%;
}

.eventShow input[type="file"] {
  display: none;
}

.fieldForm > textarea {
  border: 2px solid var(--jea-color-primary);
  border-radius: var(--jea-radius-secundary);
  padding: var(--jea-padding-s);
  width: 70%;
  font-size: 0.9rem;
  resize: none;
}
