.profileCircle {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  overflow: hidden;
  border: 3px solid var(--jea-color-secundary);
  flex: 0 0 auto;
  margin: 5px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--jea-color-bg);
}

.profileCircle > i {
  font-size: 35px;
  color: var(--jea-color-secundary);
  cursor: pointer;
}

.userProfile {
  border: 3px solid red;
  animation: loopUser 2s infinite ease-in-out;
}

@keyframes loopUser {
  0%,
  100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
}
